In [25]:
import pandas as pd
import numpy as np
#Import all necessary libraries
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import StratifiedShuffleSplit
#from sklearn.preprocessing import Imputer
from sklearn.preprocessing import LabelEncoder
from sklearn.preprocessing import OneHotEncoder
from sklearn.preprocessing import LabelBinarizer
from sklearn.base import BaseEstimator, TransformerMixin
from sklearn.preprocessing import StandardScaler
from sklearn.preprocessing import MinMaxScaler
from sklearn.preprocessing import PolynomialFeatures

In [2]:
carSales = pd.read_csv('C:/Users/103467/Python/Hackathon18-master/data.csv',sep=",")
carSales.head()

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650
2,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,High-Performance",Compact,Coupe,28,20,3916,36350
3,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Coupe,28,18,3916,29450
4,BMW,1 Series,2011,premium unleaded (required),230.0,6.0,MANUAL,rear wheel drive,2.0,Luxury,Compact,Convertible,28,18,3916,34500

In [3]:
df_ordinary=carSales

In [6]:
df_ordinary["Number of Doors"] = df_ordinary["Number of Doors"].replace("?",0)
df_ordinary["Number of Doors"] = df_ordinary["Number of Doors"].astype('float32')
df_ordinary["MSRP"] = df_ordinary["MSRP"].replace("?",0)
df_ordinary["MSRP"] = df_ordinary["MSRP"].astype("float32")
df_ordinary["log_Engine HP"] = np.log(df_ordinary["Engine HP"]).astype("float32")

In [8]:
df_ordinary["Age"] = 2020 - df_ordinary["Year"].astype(int)
df_ordinary["Age-cat"] = np.ceil(df_ordinary["Age"] / 5)

In [9]:
make_list = ['Chevrolet', 'Chrysler', 'Ford' ,'Honda', 'Hyundai', 'Mazda', 'Nissan' ,'Pontiac' ,'Subaru', 'Suzuki']
df_ordinary=df_ordinary[df_ordinary.Make.isin(make_list)]

In [10]:
df_ordinary["Age-cat"].value_counts()

1.0    2258
3.0     746
2.0     643
4.0     467
5.0     366
6.0     237
Name: Age-cat, dtype: int64

In [11]:
df_ordinary["Age-cat"].value_counts() / len(df_ordinary)

1.0    0.478694
3.0    0.158151
2.0    0.136315
4.0    0.099004
5.0    0.077592
6.0    0.050244
Name: Age-cat, dtype: float64

In [12]:
df_ordinary["Age-cat"] = df_ordinary["Age-cat"].astype(int)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [14]:
df_ordinary['log_mpg']=np.log(df_ordinary["city mpg"]).astype("float32")

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.

In [16]:
y = np.log(df_ordinary['MSRP']).astype("float32")

In [ ]:
X = []

In [17]:
X_num = df_ordinary[["Age","log_mpg","log_Engine HP"]]

In [18]:
X_num.replace('null',np.NaN,inplace=True)
#X_num = pd.DataFrame(X_num)
X_num = X_num.replace('?',0)
X_num = X_num.replace('NaN',0)
X_num = X_num.replace(np.NaN,0)

C:\ProgramData\Anaconda3\lib\site-packages\pandas\core\frame.py:4172: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  method=method,

In [20]:
print("null check")
m=X_num.isnull().any()
print(m[m])
print("finite value check")
m=np.isfinite(X_num.select_dtypes(include=['float32'])).any()
print(m[m])

null check
Series([], dtype: bool)
finite value check
log_mpg          True
log_Engine HP    True
dtype: bool

(4717, 3)

In [28]:
df_ordinary["Engine Cylinders"] = df_ordinary["Engine Cylinders"].replace("?",0)
df_ordinary["Engine Cylinders"] = df_ordinary["Engine Cylinders"].replace("NaN",0)
df_ordinary["Engine Cylinders"] = df_ordinary["Engine Cylinders"].replace(np.NaN,0)

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until

In [30]:
df_ordinary = df_ordinary.replace("?",0)
df_ordinary= df_ordinary.replace("NaN",0)
df_ordinary = df_ordinary.replace(np.NaN,0)

In [37]:
df_ordinary["Engine Fuel Type"]=df_ordinary["Engine Fuel Type"].astype(str)
df_ordinary["Transmission Type"]=df_ordinary["Transmission Type"].astype(str)
df_ordinary["Driven_Wheels"]=df_ordinary["Driven_Wheels"].astype(str)
df_ordinary["Vehicle Size"]=df_ordinary["Vehicle Size"].astype(str)
df_ordinary["Make"]=df_ordinary["Make"].astype(str)
df_ordinary["Vehicle Style"]=df_ordinary["Vehicle Style"].astype(str)

In [38]:
car_eng_cyl = df_ordinary["Engine Cylinders"]
encoder_cyl = LabelBinarizer()
encoder_cyl.fit(car_eng_cyl)
print(encoder_cyl.classes_)

car_eng_fuel_type = df_ordinary["Engine Fuel Type"]
encoder_fuel = LabelBinarizer()
encoder_fuel.fit(car_eng_fuel_type)
print(encoder_fuel.classes_)

car_trans_type = df_ordinary["Transmission Type"]
encoder_trans = LabelBinarizer()
encoder_trans.fit(car_trans_type)
print(encoder_trans.classes_)

car_driven_wheels = df_ordinary["Driven_Wheels"]
encoder_wheels = LabelBinarizer()
encoder_wheels.fit(car_driven_wheels)
print(encoder_wheels.classes_)

car_vehicle_size = df_ordinary["Vehicle Size"]
encoder_size = LabelBinarizer()
encoder_size.fit(car_vehicle_size)
print(encoder_size.classes_)

car_make =df_ordinary["Make"]
encoder_make = LabelBinarizer()
encoder_make.fit(car_make)
print(encoder_make.classes_)


car_style =df_ordinary["Vehicle Style"]
encoder_style = LabelBinarizer()
encoder_style.fit(car_style)
print(encoder_style.classes_)

[0. 3. 4. 5. 6. 8.]
['0' 'diesel' 'electric' 'flex-fuel (unleaded/E85)'
 'flex-fuel (unleaded/natural gas)' 'natural gas'
 'premium unleaded (recommended)' 'premium unleaded (required)'
 'regular unleaded']
['AUTOMATED_MANUAL' 'AUTOMATIC' 'DIRECT_DRIVE' 'MANUAL' 'UNKNOWN']
['all wheel drive' 'four wheel drive' 'front wheel drive'
 'rear wheel drive']
['Compact' 'Large' 'Midsize']
['Chevrolet' 'Chrysler' 'Ford' 'Honda' 'Hyundai' 'Mazda' 'Nissan'
 'Pontiac' 'Subaru' 'Suzuki']
['2dr Hatchback' '2dr SUV' '4dr Hatchback' '4dr SUV' 'Cargo Minivan'
 'Cargo Van' 'Convertible' 'Convertible SUV' 'Coupe' 'Crew Cab Pickup'
 'Extended Cab Pickup' 'Passenger Minivan' 'Passenger Van'
 'Regular Cab Pickup' 'Sedan' 'Wagon']

In [49]:
scaler = MinMaxScaler()
X = scaler.fit_transform(X_num)

print(X.shape)

car_eng_cyl = df_ordinary["Engine Cylinders"]
car_eng_1hot = encoder_cyl.transform(car_eng_cyl)
print(car_eng_1hot.shape)

X = np.concatenate((X,car_eng_1hot),axis=1)
print(X.shape)

car_eng_fuel_type = df_ordinary["Engine Fuel Type"]
car_fuel_1hot = encoder_fuel.transform(car_eng_fuel_type)
print(car_fuel_1hot.shape)

X = np.concatenate((X,car_fuel_1hot),axis=1)
print(X.shape)

car_trans_type = df_ordinary["Transmission Type"]
car_trans_1hot = encoder_trans.transform(car_trans_type)
print(car_trans_1hot.shape)

X = np.concatenate((X,car_trans_1hot),axis=1)

car_driven_wheels = df_ordinary["Driven_Wheels"]
car_drive_1hot = encoder_wheels.transform(car_driven_wheels)
print(car_drive_1hot.shape)

X = np.concatenate((X,car_drive_1hot),axis=1)

car_vehicle_size = df_ordinary["Vehicle Size"]
car_size_1hot = encoder_size.transform(car_vehicle_size)
print(car_size_1hot.shape)

X = np.concatenate((X,car_size_1hot),axis=1)

car_vehicle_style = df_ordinary["Vehicle Style"]
car_style_1hot = encoder_style.transform(car_vehicle_style)
print(car_style_1hot.shape)

X = np.concatenate((X,car_style_1hot),axis=1)

car_make = df_ordinary["Make"]
car_make_1hot = encoder_make.transform(car_make)
print(car_make_1hot.shape)

X = np.concatenate((X,car_make_1hot),axis=1)

print(X.shape)

(4717, 3)
(4717, 6)
(4717, 9)
(4717, 9)
(4717, 18)
(4717, 5)
(4717, 4)
(4717, 3)
(4717, 16)
(4717, 10)
(4717, 56)

In [50]:
X = pd.DataFrame(X)
X.head()

,0,1,2,3,4,5,6,7,8,9,...,46,47,48,49,50,51,52,53,54,55
0,0.074074,0.296832,0.802883,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
1,0.074074,0.296832,0.802883,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,0.074074,0.198187,0.875557,0.0,0.0,0.0,0.0,1.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,0.074074,0.296832,0.802883,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,0.074074,0.296832,0.802883,0.0,0.0,1.0,0.0,0.0,0.0,0.0,...,0.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [58]:
df_ordinary=df_ordinary.reset_index()

In [75]:
X_full = pd.concat([X,df_ordinary["Age-cat"]],axis=1)
X_full.shape

(4717, 57)

In [72]:
y = pd.DataFrame(y)

In [74]:
y = y.reset_index()

In [76]:
X_full = pd.concat([X_full,y],axis=1)
X_full.shape

(4717, 59)

In [80]:
X_full=X_full.drop(["index"],axis=1)

In [81]:
X_full.columns

Index([        0,         1,         2,         3,         4,         5,
               6,         7,         8,         9,        10,        11,
              12,        13,        14,        15,        16,        17,
              18,        19,        20,        21,        22,        23,
              24,        25,        26,        27,        28,        29,
              30,        31,        32,        33,        34,        35,
              36,        37,        38,        39,        40,        41,
              42,        43,        44,        45,        46,        47,
              48,        49,        50,        51,        52,        53,
              54,        55, 'Age-cat',    'MSRP'],
      dtype='object')

In [82]:
X_full.to_csv("C:/Users/103467/python/CarData_norm.csv",index=False)

In [61]:
X_train, X_test, y_train, y_test = train_test_split(X_full, y, stratify=X_full["Age-cat"], test_size=0.2, random_state=42)

In [66]:
X_test["Age-cat"].value_counts(normalize=True)

1    0.478814
3    0.157839
2    0.136653
4    0.099576
5    0.077331
6    0.049788
Name: Age-cat, dtype: float64